.side-bar {
    padding-right: 24px;
}

.books-showcase {
    display: flex;
    justify-content: space-between;
    padding-right: 12px;
}

.books-showcase-link {
    display: inline-block;
    width: 100%;
    padding-bottom: 8px;
}

.books-showcase__btn {
    background: none;
    border: none;
    cursor: pointer;
}

.showcaseicon__active {
    transform: rotate(180deg);
}

.showcase__active {
    border-bottom: 1px solid #F83600;
}

.side-bar__books-list {
    padding-left: 20px;
    display: none;
}

.bookslist__active {
    display: block;
}

.active {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.1px;
    background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.side-bar__books-item {
    margin-top: 16px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: var(--text);
}

.side-bar__books-item span {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #A7A7A7;
    margin-left: 6px;
}

.side-bar__pages-item {
    margin-top: 42px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: var(--text);
}

.side-bar__pages-item:first-child {
    margin-top: 0;
}

@media screen and (max-width: 1130px) {
    .side-bar {
        display: none;
    }
}