.search-bar {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 6px;
}

.search-bar__input-wrapper {
    display: flex;
    align-items: center;
}

.search-bar__input-wrapper-adapt {
    display: none;
}

.search-bar__text-unput-group {
    width: 350px;
    height: 38px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18), 0px 1px 5px rgba(191, 196, 201, 0.24);
    border-radius: 599px;
    margin-right: 16px;
}

.search-bar__text-unput-btn {
    width: 40px;
    height: 38px;
    background: none;
    border: none;
    padding-top: 4px;
    padding-left: 5px;
}

.search-bar__text-input {
    width: 310px;
    height: 38px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #A7A7A7;
    border-top-right-radius: 599px;
    border-bottom-right-radius: 599px;
    outline: none;
}

.search-bar__select-btn {
    width: 150px;
    height: 38px;
    background: #FFFFFF;
    border: none;
    padding: 8px 15px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #A7A7A7;
    box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18), 0px 1px 5px rgba(191, 196, 201, 0.24);
    border-radius: 599px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.search-bar__select-btn-icon {
    margin-right: 8px;
}

.search-bar__buttons-wrapper {
    display: flex;
}

.search-bar__buttons-tiles-btn,
.search-bar__buttons-list-btn {
    background: none;
    border: none;
    margin-left: 6px;
    filter: drop-shadow(0px 2px 4px rgba(191, 196, 201, 0.2)) drop-shadow(0px 3px 4px rgba(191, 196, 201, 0.18)) drop-shadow(0px 1px 5px rgba(191, 196, 201, 0.24));
    cursor: pointer;
}

@media screen and (max-width: 1130px) {
    .search-bar__text-unput-group {
        width: 274px;
    }

    .search-bar__text-input {
        width: 234px;
    }
}

@media screen and (max-width: 660px) {
    .search-bar {
        margin-left: 0;
    }

    .search-bar__input-wrapper {
        display: none;
    }

    .search-bar__input-wrapper-adapt {
        display: block;
    }

    .search-bar__btn-adapt {
        background: #FFFFFF;
        border: none;
        width: 32px;
        height: 32px;
        margin-right: 8px;
    }

    .search-bar__btn-adapt-icon {
        background: #FFFFFF;
        border-radius: 599px;
        border: none;
    }

    .search-bar__buttons-tiles-btn-icon,
    .search-bar__buttons-list-btn-icon,
    .search-bar__buttons-tiles-btn,
    .search-bar__buttons-list-btn {
        width: 32px;
        height: 32px;
    }

    .search-bar__buttons-list-btn {
        margin-left: 8px;
    }
}