.header__container {
    position: relative;
}

.header {
    display: grid;
    grid-template-columns: 279px 1fr max-content;
    padding: 32px 0 15px 0;
}

.header__user,
.header__heading,
.header__link {
    display: flex;
    align-items: center;
}

.header__heading {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.1px;
    color: var(--text);
    margin-left: 6px;
}

.header__user-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    letter-spacing: 0.1px;
    color: var(--text);
    margin-right: 16px;
}

.header__hamburger {
    display: none;
}

@media screen and (max-width: 1130px) {

    .header__link,
    .header__user {
        display: none;
    }

    .header__hamburger {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border: none;
        background: none;
    }

    .header {
        display: flex;
        align-items: center;
        padding-bottom: 24px;
    }

    .header__heading {
        margin-left: 24px;
    }
}

@media screen and (max-width: 660px) {
    .header {
        padding-top: 24px;
    }

    .header__hamburger {
        width: 24px;
        height: 24px;
    }

    .header__heading {
        font-size: 18px;
        line-height: 28px;
    }
}