.header__hamburger {
    width: 32px;
    height: 32px;
}

.header__hamburger span {
    display: block;
    width: 27px;
    height: 3px;
    background: #363636;
}

.hamburger__active span:nth-of-type(1) {
    transform: rotate(45deg) translate(6px, 6px);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 27px;
}

.hamburger__active span:nth-of-type(2) {
    opacity: 0;
}

.hamburger__active span:nth-of-type(3) {
    transform: rotate(-45deg) translate(6px, -6px);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 27px;
}