.book-page {
    min-height: calc(100vh - 230px);
    margin-top: 27px;
    margin-bottom: 42px;
}

@media screen and (max-width: 1130px) {
    .book-page {
        margin-top: 24px;
        margin-bottom: 48px;
    }
}

@media screen and (max-width: 660px) {
    .book-page {
        margin-top: 8px;
        margin-bottom: 20px;
    }
}